.challenge-subtitle{
    font-size: 1.3em;
}
.challenge-title{
    font-size: 3em;
    font-weight: 600;
}
.challenge-container{
    color:rgba(0,0,0,0.9);

    text-align: center;
    background-color: rgba(255,255,255,0.95);
    border-radius: 40px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-bottom: 5vh;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    width:80%;
    /*width:900px;*/
    /*min-width: 400px;*/
    margin:auto;
    /*height:650px;*/
}
.challenge-picture{
    /*width:50%;*/
    margin:0 auto;
    width:90%;
    max-height: 400px;
}
.stats-list p{
    margin-bottom: 5px;
}
.stats-list{
    text-align: justify;
    font-size: 2.2em;
}
.bold{
    font-weight: 600;
}
.button-text{
    font-size: 1em;
}
.button-container{
    margin-top: 30px;
}
.tag{
    width:20%;
}
.tags-list{
    margin-left: 10%;
    display: inline-flex;
    float:left;
}
.tags-list li{
    margin-right:1vw;
}
.liked{
    float:right;
    width:50px;
    height:50px;
    background-color: gold;
    border-radius: 500px;
}
.liked i{
    color:red;
    line-height: 1.8;
    text-align: right;
}
.description-container{
    /*width:80%;*/
    /*margin:auto;*/
    text-align: left;
    font-size: 1.3em;
    font-weight: 600;
    margin-left: 5%;
}