.challenge-subtitle{
    font-size: 1.3em;
}
.challenge-title{
    font-size: 3em;
    font-weight: 600;
}
.challenge-container{
    color:rgba(0,0,0,0.9);

    text-align: center;
    background-color: rgba(255,255,255,0.95);
    border-radius: 40px;
    width:60%;
    /*width:900px;*/
    /*min-width: 400px;*/
    margin:auto;
    height:600px;
}
.challenge-picture{
    /*width:50%;*/
    margin:0 auto;
    max-width: 650px;
}
.stats-list p{
    margin-bottom: 5px;
}
.stats-list{
    text-align: justify;
    font-size: 2.2em;
}
.bold{
    font-weight: 600;
}
.button-text{
    font-size: 1em;
}
.button-container{
    margin-top: 30px;
}