ul {
  list-style: none;
  padding: 0;
}

#root {
  height: 100%;
}

/*May cause bugs!*/
/*.navbar > div, .flex-space{*/
    /*display: flex!important;*/
    /*justify-content: space-around!important;*/
/*}*/