@import 'https://fonts.googleapis.com/css?family=Mate';


ul {
  list-style: none;
  padding: 0;
}

#root {
  height: 100%;
}

html,body{
    height: 100%;
    font-family: 'Mate', cursive;
    /*overflow-x: hidden;*/
}

.width-100{
    width:100%;
    margin: 0;
}

.container{
    width:100%;
    /*padding:0;*/
    maring:0;
}
.float-right{
    float: right;
}